In [1]:
test = df['name'].apply(lambda x: x.lower())
test.head(4)

NameError: name 'df' is not defined

In [ ]:
import re
strs = ['How High the Moon - Live','Don Giovanni, K. 527, Act I: Giovinette, che fate all\'amore (Live)',
        'Quicksilver - Live At Birdland, New York/1954','Skin Deep - Live','Real Live Girl',
        'Nothing Was Delivered', 'The Eleven - Live in San Francisco, 1969; 2001 Remaster',
        'A Man A City (live at the Fillmore West) [Bonus Track]', 'Got My Mojo Working - Pt. 2 / Live At Newport Jazz Festival, 1960',
        'C\'mon And Love Me - Live/1975']
print(strs,'\n')

for i, str in enumerate(strs):
    tokens = re.findall(r'([-/] [Ll]ive|\([Ll]ive\))', str)
    print(i,': ',str)
    if tokens:
        print(tokens, ' found!!')
    print('\n')

# print(tokens)


# print(tokens)
# for token in tokens:
#     token=token.lower()
#     if token == 'live':
#         print("found!")

# print(df['name'][1])

In [23]:
from sklearn import preprocessing
import numpy as np
import pandas as pd
data = np.array([[1, 3, 3, 4], [1, 5, 6, 3], [4, 5, 9, 2], [2, 4, 2, 3]])
df = pd.DataFrame(data, columns=['a', 'b', 'c', 'd'])
updt = [({'a':1, 'c':1}), ({'a':1,'c':1}), ({'a':1,'c':1})]
dff = pd.DataFrame(updt)
# for i, up in enumerate(updt)
df

   a  b  c  d
0  1  3  3  4
1  1  5  6  3
2  4  5  9  2
3  2  4  2  3

In [24]:
df.loc[1:4].update(dff)
df

/Users/KC/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:6599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)

   a  b  c  d
0  1  3  3  4
1  1  5  6  3
2  4  5  9  2
3  2  4  2  3

In [ ]:
    # # for i, track_id in enumerate(tqdm(track_ids)):
    # for i in range(tqdm(num_tracks)):
    #     # track = sp.track(track_id)
    #     # audio_feats['preview_url'] = track['preview_url']
    #     # audio_feat = sp.audio_features(track_ids[])[0]
    #     for key, value in audio_feat.items():
    #         audio_feats[key][i] = value
        
        
    #     if i % n_samples == (n_samples-1):
    #         return audio_feats
    #         # start = i//n_samples*n_samples
    #         # end = i
    #         # filename = 'audio_feats_'+str(start)+'_to_'+str(end)+'.csv'
    #         # save_data = audio_feats.iloc[start:end,:]
    #         # write_df(cfg, save_data, filename)